<h1>タイムライン</h1>
<%= flash[:guest_success] %></br>
<% @posts.each do |post| %>
  <%= link_to user_path(post.user.id) do %>
    ユーザーネーム<%= post.user.name %></br>
  <% end %>
  <%= link_to post_path(post.id) do %>
    <%= post.title %></br>
  <% end %>
<% end %>