<h1>投稿詳細</h1>
<p>ユーザー名:<%= @post.user.name %></p>
<p>投稿</p>
<%= @post.title %>
<%= @post.body %>
<%= attachment_image_tag @post, :post_image %>


<%= link_to "この投稿を削除する", confirm_post_path(@post.id) %>
