<div class="container px-4 px-sm-0">
  <div class="row">
    <%= render 'users/users/list', user:@user %>
    
    <div class="col-md-8">
      <h2>投稿詳細</h2>
      <!--カード開始-->
      <div class="card w-80 mx-auto mt-4 mb-1 shadow-lg">
        <!--ヘッダー部分-->
        <div class="card header d-flex flex-row">
          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback:"images/no_image.jpg" , class: "mt-3 rounded-circle"; %>
          <div class="flex-grow-1"><%= @post.user.name %></div>
        </div>
        
        <!--画像表示部分-->
        <%= attachment_image_tag @post, :post_image, class: "card-img-top"%>
        <!--ボディ部分-->
        <div class="card-body pt-0 px-0">
          <div class="d-flex">
          <!--投稿にコメント済みかどうかわかる。コメントの総数も分かる-->
          <% if @post.commented_by?(current_user) %>
            <span><i class="fas fa-comment"></i><%= @post.comments.count %> | </span>
          <% else %>
            <span><i class="far fa-comment"></i><%= @post.comments.count %> | </span>
          <% end %>
          <!--いいねボタン-->
          <% if @post.liked_by?(current_user) %>
            <span>♥<%= @post.likes.count %></span>
          <% else %>
            <span>♡<%= @post.likes.count %></span>
          <% end %>
          <span class="ml-auto"><%= l @post.created_at%></span>
          </div>
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-text"><%= @post.body %></p>
          <!--この投稿にされたコメント一覧へのリンク-->
          <%= link_to "この投稿へのコメントを見る", post_comments_path(@post) %>
        </div>
          <!--コメント入力フォーム作成-->
          <!--form_withと()の間にスペースをいれるとエラーがでる-->
          <div>
          <%= form_with(model: [@post, @comment], local:true) do |f| %>
            <%= f.text_field :body, class:"form-control", :placeholder => "コメントを追加する" %>
            <%= f.submit "投稿する" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

