<h1>プロフィール編集ページ</h1>
<%= form_with model:@user, url:user_path(@user.id), local: true do |f| %>
  
  <%= f.email_field :email %>
  <%= f.text_field :name %>
  <%= f.text_area :profile %>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100%>
  <%= f.attachment_field :profile_image %>
  
  <%= f.submit "保存する" %>
<% end %>

