<div class="container px-4 px-sm-0">
  <div class="row">
    <%= render 'users/users/list', user:@user %>
    <!--右側のフォロワー一覧表示-->
    <div class="col-md-8">
      <h2><%= @user.name %>のフォロー</h2>
      <!--ここからtableを使う-->
      
      <table class="table">
        <% @users.each do |followed| %>
        <tbody>
          <tr>
            <th>
              <%= link_to user_path(follower) do%>
            <%= attachment_image_tag follower, :profile_image, :fill, 100, 100, fallback:"images/no_image.jpg", class: "mt-3 rounded-circle" %>
           <% end %>
            </th>
            <th><%= followed.posts.count %>post</th>
            <th><%= followed.followers.count %>フォロワー</th>
            <th><%= followed.followings.count %>フォロー</th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>