<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>ユーザー一覧</h1>
    </div>
    <div class="col-4">
      
      <div class="search_form">
      <%= form_with url:search_users_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
  <!--ここから会員一覧表示-->
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-3">
      <%= link_to user_path(user) do%>
        <div class="d-flex justify-content-center">
         <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback:"images/no_image.jpg", class: "mt-3 rounded-circle" %>
        </div>
      <% end %>
    </div>
    <div class="col-7 d-flex flex-row align-items-end">
      <p class="flex-fill">
        <%= link_to user_path(user) do%>
          <%= user.name %>
        <% end %>
      </p>
      <p class="flex-fill"><%= user.posts.count %>posts</p>
      <p class="flex-fill"><%= user.followings.count %>フォロワー</p>
      <p class="flex-fill"><%= user.followers.count %>フォロー</p>
    </div>
  </div>
  <% end %>
  </div>
</div>

