<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>投稿一覧</h1>
    </div>
    <div class="col-4">
      <div class="search_form">
      <%= form_with url:search_admins_posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
  <!--ここから一覧表示-->
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do%>
    <div class="card w-50 mx-auto mt-4 mb-1 shadow-lg">
        <%= attachment_image_tag post, :post_image, class: "card-img-top"%>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <%= link_to user_path(post.user) do %>
              <p><%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback:"images/no_image.jpg" , class: "mt-3 rounded-circle"; %></p>
              <span><i class="fa fa-user"></i><%= post.user.name %></span>
            <% end %>
          </div>
          <div class="col-9">
            <p class="card-title">title:<%= post.title %></p>
            <!--コメントマーク-->
            <span><i class="far fa-comment"></i><%= post.comments.count %> | </span>
            <!--いいねボタン-->
            <span>♡<%= post.likes.count %></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <div class="row justify-content-center">
      <%= paginate @posts %>
    </div>
  </div